@model IEnumerable<RateAndShare.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Songs</h2>

<p>
    @Html.ActionLink("+", "Create", "Songs", null, new { @class = "btn btn-primary btn-lg fab" })
</p>


<div class="d-flex justify-content-between flex-wrap">

    @foreach (var item in Model)
    {
        var URLId = item.YoutubeLink.Substring(item.YoutubeLink.IndexOf("?v=") + 3);
        string embedlink = "https://www.youtube.com/embed/" + URLId;

        <div class="p-2 bd-highlight">
            <div class="card p-3 mb-2 bg-light text-dark" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@embedlink" allowfullscreen></iframe>
                </div>

                <div class="card-body">
                    <h5 class="card-title"> @item.SongName </h5>
                    <p class="card-text"> @item.ArtistName </p>

                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </div>
            </div>
        </div>
    }

</div>
