@model RateAndShare.Models.Rate

@{
    ViewBag.Title = "Create";
}

<h2>Rate Fora A Song</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SongId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SongId, (IEnumerable<SelectListItem>)ViewBag.songsList, "Select A Song", new { @class = "btn btn-secondary dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.SongId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-10">
                <span>1</span>
                @{ foreach (int i in Enumerable.Range(1, 5))
                    {
                        <span class="p-1 align-middle">@Html.RadioButtonFor(m => m.NumOfStars, i)</span>
                    }
                }
                <span>5</span>
                @Html.ValidationMessageFor(model => model.NumOfStars, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rate Now!" class="btn btn-outline-light" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
