@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<RateAndShare.Models.Rate>


<link href="@Url.Content("~/Content/Rates.css")" rel="stylesheet" type="text/css" />



<h2>Rates</h2>

<p>
    <a href="@Url.Action("Create", "Rates")" class="btn btn-primary btn-lg fab">
        <i class="fa fa-pencil"></i>
    </a>
</p>


<div class="d-flex justify-content-between flex-wrap">

    @foreach (var item in Model)
    {
        <div class="p-2 bd-highlight">
            <div class="card p-3 mb-2 bg-light text-dark" style="width: 18rem;">
                @{
                    if (HttpContext.Current.Session["UserId"] != null && HttpContext.Current.Session["IsAdmin"] != null && (bool)HttpContext.Current.Session["IsAdmin"])
                    {

                                <div class="card-button">
                                    <a href="@Url.Action("Edit", "Rates", new { id = item.ID })" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", "Rates", new { id = item.ID })" class="btn btn-outline-dark btn-sm">
                                        <i class="fa fa-close"></i>
                                    </a>

                                </div>
                    }
                }



                <div class="card-body">
                    <div class="card-title">
                        <h5>
                            @item.Song.SongName
                            <small class="text-muted">by @item.User.Username</small>
                        </h5>
                        <div>
                            @{ foreach (int i in Enumerable.Range(0, item.NumOfStars))
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                    </div>


                    <p class="card-text">
                        <em> @(item.Description != null ? item.Description : "-No Comment For This Rate-") </em>
                    </p>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.SongId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SongId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SongId })*@
                </div>
            </div>
        </div>
    }

</div>







