@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<RateAndShare.Models.Rate>


<link href="@Url.Content("~/Content/Rates.css")" rel="stylesheet" type="text/css" />

<div class="d-flex justify-content-between align-items-center">
    <h2>Rates</h2>

    <div class="navbar-left" style="margin-top:8px;">
        @using (Html.BeginForm("Search", "Rates", FormMethod.Get))
        {
            @Html.Editor("searchVal", new { htmlAttributes = new { @class = "form-control", @type = "search" } })

            @Html.RadioButton("searchType", 1, true)
            <span class="h6">Song Name</span>

            @Html.RadioButton("searchType", 2)
            <span class="h6">Rating</span>

            @Html.RadioButton("searchType", 3)
            <span class="h6">User</span>
        }
    </div>
</div>



@{
    if (HttpContext.Current.Session["UserId"] != null)
    {
        <p>
            <a href="@Url.Action("Create", "Rates")" class="btn btn-primary btn-lg fab">
                <i class="fa fa-pencil"></i>
            </a>
        </p>
    }
}




<div class="d-flex justify-content-between flex-wrap">

    @foreach (var item in Model)
    {
        <div class="p-2 bd-highlight">
            <div class="card p-3 mb-2 bg-light text-dark" style="width: 18rem;">
                <div class="card-button">
                    @{
                        if (HttpContext.Current.Session["UserId"] != null
                            && ((HttpContext.Current.Session["IsAdmin"] != null && (bool)HttpContext.Current.Session["IsAdmin"]) || (int)HttpContext.Current.Session["UserId"] == item.UserId))
                        {

                                <a href="@Url.Action("Edit", "Rates", new { id = item.ID })" class="btn btn-outline-dark btn-sm">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a href="@Url.Action("Delete", "Rates", new { id = item.ID })" class="btn btn-outline-dark btn-sm">
                                    <i class="fa fa-close"></i>
                                </a>

                        }
                    }
                </div>



                <div class="card-body">
                    <div class="card-title">
                        <h5>
                            @item.Song.SongName
                            <small class="text-muted">by @item.User.Username</small>
                        </h5>
                        <div>
                            @{ foreach (int i in Enumerable.Range(0, item.NumOfStars))
                                {
                                    <i class="fa fa-star"></i>
                                }
                            }
                        </div>
                    </div>


                    <p class="card-text">
                        <em> @(item.Description != null ? item.Description : "-No Comment For This Rate-") </em>
                    </p>
                </div>
            </div>
        </div>
    }

</div>







